# Server Node Modules
node_modules
#Server production
/build
#nodemon configureation
nodemon

# Client Node Modules
client/node_modules

# Client testing
client/coverage

# Client production
client/build